body {
	margin : auto;
	font-family : verdana, sans-serif;
}

#content {
	width : 300px;
	margin : auto;
	border : solid thin #888888;
	padding : 20px;
}

#code {
	border-bottom : 2px solid #CCCCCC;
	width : 200px;
	font-size: 36px;
	height : 40px;
	margin : auto;
	margin-bottom : 10px;
	text-align : center;
	color : rgb(128,128,255);
	
}

button {
	font-size : 40px;	
	margin : 5px;
	width : 50px;
	height : ()0px;
}

.disabled {
	color : #CCCCCC;
}