div.diaporama {
    text-align:center;
}
img#diapo {
    padding : 5px;
    width : 50%;
    transition : opacity 0.5s;
}



#buttons{
    text-align : center;
}

button {
	margin:10px;
	background-color : #444444;
	color: white;
	font-weight:bold;
	padding:5px;
}
button:hover {
	background-color:#888888;
}

#diapoStep, #idxImage {
	width : 40px;
	text-align : right;
}

// pour V3
img#diapo {
	transition : opacity 0.5s;
}